@font-face {
  font-family: AllianceNo1Bold;
  font-display: swap;
  src: url('./assets/fonts/AllianceNo1/AllianceNo1-Bold.otf') format('opentype');
}

@font-face {
  font-family: AllianceNo1Light;
  font-display: swap;
  src: url('./assets/fonts/AllianceNo1/AllianceNo1-Light.otf') format('opentype');
}

@font-face {
  font-family: AllianceNo1Regular;
  font-display: swap;
  src: url('./assets/fonts/AllianceNo1/AllianceNo1-Regular.otf') format('opentype');
}
